# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environments
.venv/
env/
venv/

# Mac-specific files
.DS_Store
.AppleDouble
.LSOverride

# Windows-specific files
Thumbs.db
Desktop.ini
